body {
    margin: 1em;
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    background: linear-gradient(315deg, #333333 3%, #7d7a7a 68%);
    background-size: 400% 400%;
    background-attachment: fixed;
}

.button-m {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #333333 0, #999999 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Times New Roman",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-m:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, #EFEFEF 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-m:hover {
  box-shadow: #EFEFEF 0 4px 8px, #999999 0 7px 13px -3px, #333333 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-m:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
  
.parent_div {
position: fixed;
bottom: 5px;
width: 100%;
}
.parent_div input {
margin: auto;
}

.h1 {
  text-shadow: 2px 2px #ff0000;
}

.h4 {
  text-shadow: 2px 2px #ff0000;
}
}